body {
  font-family: Rubik;
  font-size: 12px;
  color: #616161;
}

[class*=__container] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media (max-width: 1057px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  width: 100%;
}
.header:target .menu__body {
  left: 0;
}
.header:target .close-icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header:target .icon-menu {
  display: none;
}
.header:target .menu__body {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 80px;
  }
}

.header__logo {
  z-index: 10;
  position: relative;
}
@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    overflow: hidden;
  }
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__body {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  overflow: auto;
}
@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #905559;
    padding: 80px 15px 30px 15px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__item {
  margin: 0px 40px 0px 0px;
}
@media (max-width: 991.98px) {
  .menu__item {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 0px 0px 25px 0px;
  }
  .menu__item:last-child {
    margin: 0px 0px 0px 0px;
  }
}

a.menu__link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: 10px;
  color: #000000;
}
@media (max-width: 767.98px) {
  a.menu__link {
    color: white;
    font-size: 20px;
  }
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 252px;
          flex: 0 0 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991.98px) {
  .header__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
  }
}

.button {
  display: inline-block;
  font-family: Raleway;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 14px 30px;
  line-height: 12px;
  background-color: #EC5863;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #FCFDFE;
}
@media (max-width: 767.98px) {
  .button {
    padding: 14px 20px;
  }
}
.button:hover {
  background-color: #ea7179;
}

a.button_blue {
  background-color: #4285F4;
  color: #FCFDFE;
}
a.button_blue:hover {
  background-color: #5793f4;
}

.icon-menu {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 18px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 0px 20px;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.icon-menu span {
  background-color: black;
  height: 2px;
}
.icon-menu:before, .icon-menu:after {
  content: "";
  background-color: black;
  height: 2px;
}

.close-icon-menu {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 18px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 0px 20px;
}
.close-icon-menu:before, .close-icon-menu:after {
  content: "";
  background-color: black;
  height: 2px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.close-icon-menu:before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}
.close-icon-menu:after {
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
}

.block-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 55px;
  color: #000000;
}
@media (max-width: 767.98px) {
  .block-text__title {
    font-size: 35px;
    line-height: 40px;
  }
}

.block-text__title span {
  color: #EC5863;
}

.block-text__title-blue span {
  color: #4285F4;
}

.block-text__text {
  padding: 12px 0px 0px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #616161;
}

.block-text__button {
  margin: 24px 0px 0px 0px;
}

.get-started {
  background: #FAFBFD;
}

.get-started__container {
  padding: 153px 0px 48px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.get-started__container:before {
  content: "";
  position: absolute;
  width: 100vh;
  height: 100%;
  right: 267px;
  top: 0;
  background-color: #EC5863;
  border-radius: 30px 0px 0px 30px;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}
@media (max-width: 991.98px) {
  .get-started__container:before {
    right: 185px;
    border-radius: 20px 0px 0px 20px;
  }
}
@media (max-width: 767.98px) {
  .get-started__container:before {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .get-started__container {
    padding: 90px 15px 38px 15px;
  }
}

.get-started__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0px 20px 0px 20px;
}
@media (max-width: 767.98px) {
  .get-started__content {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.get-started__block-text {
  max-width: 410px;
}
@media (max-width: 767.98px) {
  .get-started__block-text {
    max-width: none;
  }
}

.get-started__video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  margin: 0px 0px 0px 20px;
  padding: 60px 0px 0px 0px;
}
@media (max-width: 767.98px) {
  .get-started__video {
    padding: 12px 0px 0px 0px;
  }
}

.video-get-started {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-get-started__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
}

.video-get-started__body {
  padding: 0px 0px 0px 12px;
}

.video-get-started__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1.5px;
  color: #B0B0B0;
}

.video-get-started__text {
  font-size: 9px;
  padding: 5px 0px 0px 0px;
  text-transform: uppercase;
  line-height: 11px;
  letter-spacing: 2px;
}

.get-started__image {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
}
@media (max-width: 767.98px) {
  .get-started__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
}

.get-started__image img {
  max-width: 100%;
}

/*----------------------------------*/
.stay-safe {
  padding: 80px 0px;
}
@media (max-width: 767.98px) {
  .stay-safe {
    padding: 40px 0px;
  }
}

.stay-safe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .stay-safe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.stay-safe__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (min-width: 991.98px) {
  .stay-safe__image {
    padding: 0 0 0 47px;
  }
}
.image-stay-safe {
  position: relative;
  text-align: center;
  width: 373px;
  padding: 56px 0px 27px 0px;
}
@media (max-width: 479.89px) {
  .image-stay-safe {
    width: 290px;
  }
}

.image-stay-safe__image {
  display: inline-block;
}

.stay-safe__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-text__title-red {
  max-width: 410px;
}

.block-text__text_red {
  line-height: 17px;
  letter-spacing: 0.08em;
  padding: 12px 0 0 0;
}

.image-stay-safe__item {
  position: absolute;
  background-color: #EC5863;
  border-radius: 30px;
  z-index: -1;
}

.image-stay-safe__item1 {
  top: 34px;
  left: 0;
  width: 147px;
  height: 147px;
}

.image-stay-safe__item2 {
  left: 39px;
  bottom: 27px;
  height: 77px;
  width: 77px;
}
@media (max-width: 479.98px) {
  .image-stay-safe__item2 {
    left: 0px;
  }
}

.image-stay-safe__item3 {
  height: 77px;
  width: 77px;
  right: 38px;
  bottom: 150px;
}
@media (max-width: 479.98px) {
  .image-stay-safe__item3 {
    right: 0px;
  }
}

/*------------------------------------*/
.experts {
  background: #FAFBFD;
  padding: 103px 0px 80px 0px;
}
@media (max-width: 767.98px) {
  .experts {
    padding: 50px 0px 60px 0px;
  }
}

.statistic-experts {
  position: relative;
  max-width: 655px;
  margin: 0 auto;
}

.statistic-experts__body {
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  background: #FFFFFF;
  position: relative;
  z-index: 2;
}

.statistic-experts__decor {
  position: absolute;
  background: #EC5863;
  border-radius: 30px;
}

.statistic-experts__decor_1 {
  height: 65px;
  width: 65px;
  left: -21px;
  bottom: -21px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.statistic-experts__decor_2 {
  width: 97px;
  height: 97px;
  top: -40px;
  right: 50%;
  -webkit-transform: rotate(106deg);
          transform: rotate(106deg);
}
@media (max-width: 479.98px) {
  .statistic-experts__decor_2 {
    top: -25px;
  }
}

.statistic-experts__decor_3 {
  width: 127.47px;
  height: 127.47px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: -55px;
  top: 0;
}
@media (max-width: 479.98px) {
  .statistic-experts__decor_3 {
    top: -25px;
    width: 115px;
    height: 115px;
  }
}

.body-statistic-experts {
  padding: 28px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .body-statistic-experts {
    padding: 20px 30px;
  }
}
@media (max-width: 479.98px) {
  .body-statistic-experts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.body-statistic-experts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  text-align: center;
}
.body-statistic-experts__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.body-statistic-experts__value {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #EC5863;
  padding: 0px 0px 5px 0px;
}
@media (max-width: 479.98px) {
  .body-statistic-experts__value {
    padding: 0px 0px 0px 0px;
  }
}

.body-statistic-experts__text {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 767.98px) {
  .body-statistic-experts__text {
    letter-spacing: 0.2em;
  }
}
.experts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0px 0px 0px;
  position: relative;
}
@media (max-width: 767.98px) {
  .experts__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0 0 0;
  }
}

.experts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .experts__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.experts__block-text {
  max-width: 400px;
}
@media (max-width: 767.98px) {
  .experts__block-text {
    max-width: none;
  }
}

.block-text__title_blue span {
  color: #4285F4;
}

.experts__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  padding-bottom: 30%;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .experts__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 0 0;
    padding-bottom: 50%;
    padding-left: 80%;
  }
}

.experts__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*-------------------------------------------*/
.healthcare {
  padding: 80px 0px 80px 0px;
}
@media (max-width: 767.98px) {
  .healthcare {
    padding: 30px 0 40px 0;
  }
}

.healthcare__block-text {
  text-align: center;
}

.healthcare-block-text__text {
  padding: 14px 0px 50px 0px;
  max-width: 600px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .healthcare-block-text__text {
    padding: 14px 0 20px 0;
  }
}

.healthcare__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 767.98px) {
  .healthcare__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.healthcare-item__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  text-align: center;
  position: relative;
}
@media (max-width: 767.98px) {
  .healthcare-item__column {
    padding: 15px 0px 0px 0px;
  }
}

.item-healtcare {
  height: 100%;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  padding: 37px 0px;
  margin: 0px 40px;
}
@media (max-width: 991.98px) {
  .item-healtcare {
    margin: 0 10px;
  }
}

.item-healthcare__title {
  padding: 58px 0px 0px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000000;
}

.item-healthcare__text {
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
  max-width: 240px;
  margin: 0 auto;
  padding: 8px 0px 0px 0px;
}

.item-healthcare__decor {
  position: absolute;
  background: #EC5863;
  border-radius: 30px;
  z-index: -1;
}

.item-healthcare__decor_1 {
  width: 65px;
  height: 65px;
  left: 5px;
  bottom: -35px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 16px;
}

.item-healthcare__decor_2 {
  height: 97px;
  width: 97px;
  left: 259px;
  top: 30px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.item-healthcare__decor_3 {
  height: 128px;
  width: 128px;
  bottom: -20px;
  right: 300px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.item-healthcare__decor_4 {
  height: 66px;
  width: 66px;
  top: -30px;
  right: 20px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.item-healtcare_1::before {
  content: "";
  width: 65px;
  height: 65px;
  position: absolute;
  bottom: -35px;
  left: 20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background: #EC5863;
  border-radius: 16px;
  z-index: -1;
}
.item-healtcare_1::after {
  content: "";
  width: 97px;
  height: 97px;
  position: absolute;
  top: 31px;
  right: -10px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
  background: #EC5863;
  border-radius: 30px;
  z-index: -1;
}

.item-healtcare_2::after {
  content: "";
  width: 127px;
  height: 127px;
  position: absolute;
  bottom: -16px;
  right: -52px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background: #EC5863;
  border-radius: 30px;
  z-index: -1;
}

.item-healtcare_3::after {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  top: -36px;
  right: 20px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background: #EC5863;
  border-radius: 16px;
  z-index: -1;
}

/*--------------------------*/
.footer {
  padding: 45px 0px;
}
@media (max-width: 767.98px) {
  .footer {
    padding: 20px 0px;
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 479.98px) {
  .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__item {
  padding: 0px 56px 0px 0px;
}
@media (max-width: 767.98px) {
  .footer__item {
    padding: 0px 30px 0 0;
  }
}